@if (Request.IsAuthenticated)
{
    <text>
        <div class="dropdown">
            <div class="account">
                @User.Identity.Name
            </div>
            <div class="submenu" style="display: none; ">
                <ul class="root">
                    <li>
                        @Html.ActionLink("Log off", "LogOff", "Home")
                    </li>
                </ul>
            </div>
        </div>
    </text>
}
