@using DoxTree; 
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Status</h2>
<p>
Writing to log: @AppDomain.CurrentDomain.BaseDirectory.ToString()log.txt
@{DoxTree.Lib.Diagnose.Log.LogLine("Status", "Test Log Entry", "Test Message ");}
</p>
<p>Current User: 
@if (Request.IsAuthenticated)
{
    @DoxTreeUser.Current.FirstName.ToString()

}
else
{
    <text>No User Logged In</text>
}
</p>
<p>
@if (Membership.ValidateUser("larry@doxtree.com", "password"))
{
    <text>Logged In</text>    
}
else
{
    <text>Could Not Log In User</text>        
}
</p>